<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Diary | UsersManager</title>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<br>
<br>
<br>


<h2>Users Manager</h2>

<h3><a th:href="@{/users_manager/users}">Users</a></h3>
<h3><a th:href="@{/users_manager/students}">Students</a></h3>
<h3><a th:href="@{/users_manager/employees}">Employees</a></h3>

</body>
</html>