<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Online Diary | Users Manager | Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<h2>Users</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>is Verify</th>
        <th>is Employee</th>
        <th>Init date</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.name}"></span></td>
        <td><span th:text="${user.verify}"></span></td>
        <td><span th:text="${user.employee}"></span></td>
        <td><span th:text="${user.initDate}"></span></td>
        <td><span th:each="role : ${user.roles}"><span th:text="${role.name}"></span>, &nbsp;&nbsp;</span></td>
        <td class="actionsForms">
            <form th:if="${!user.verify}" action="/users_manager/users" method="post">
                <input type="hidden" name="userId" th:value="${user.id}">
                <input type="hidden" name="action" value="verify">
                <button type="submit">Verify</button>
            </form>

            <form th:if="${!user.hasRoleByIdAndName(4, 'ROLE_HEAD_TEACHER') && user.employee}"
                  action="/users_manager/users" method="post">
                <input type="hidden" name="userId" th:value="${user.id}">
                <input type="hidden" name="action" value="addHeadTeacherRole">
                <button type="submit">Add Head Teacher Role</button>
            </form>

            <form th:if="${user.hasRoleByIdAndName(4, 'ROLE_HEAD_TEACHER')}" action="/users_manager/users" method="post">
                <input type="hidden" name="userId" th:value="${user.id}">
                <input type="hidden" name="action" value="removeHeadTeacherRole">
                <button type="submit">Remove Head Teacher Role</button>
            </form>

            <form sec:authorize="hasRole('DIRECTOR')" action="/users_manager/users" method="post">
                <input type="hidden" name="userId" th:value="${user.id}">
                <input type="hidden" name="action" value="delete">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>